@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
@keyframes rotate360deg {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.behind-form::before, .behind-form::after {
  animation: rotate360deg 3s linear infinite;
  background: linear-gradient(to right, transparent, purple, rgb(255, 0, 255));
  content: "";
  height: 430px;
  left: -50%;
  position: absolute;
  top: -50%;
  transform-origin: bottom right;
  width: 400px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: #151320;
  min-height: 100vh;
  width: 100vw;
}

.behind-form {
  border-radius: 8px;
  height: 430px;
  overflow: hidden;
  position: relative;
  width: 400px;
}
.behind-form::after {
  animation-delay: -1.5s;
}

.main-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #333;
  border-radius: 8px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.4);
  inset: 3px;
  position: absolute;
  z-index: 10;
}
.main-form-title {
  color: rgb(255, 0, 255);
  font-family: "Poppins", sans-serif;
  font-size: 2.5em;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
  text-shadow: 0px 0px 10px rgb(179, 18, 179);
}
.main-form-field {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 80px;
  justify-content: end;
  margin-bottom: 10px;
  padding: 0px 30px;
  position: relative;
  width: 100%;
}
.main-form-field .main-form-span {
  color: rgb(255, 0, 255);
  font-family: "Poppins", sans-serif;
  font-size: 1.3em;
  letter-spacing: 0.5px;
  display: inline-block;
  font-weight: 600;
  position: absolute;
  top: 60%;
  transition: all 0.5s ease;
  width: 100%;
}
.main-form-field .span-active {
  color: rgb(255, 0, 255);
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  letter-spacing: 0.5px;
  font-weight: 300;
  top: 0;
}
.main-form-field .main-form-input {
  color: #333;
  font-family: "Poppins", sans-serif;
  font-size: 1.3em;
  letter-spacing: 0.5px;
  border-radius: 3px;
  border: none;
  height: 50px;
  outline: none;
  padding: 0px 10px;
  transform-origin: bottom;
  transform: scaleY(0.02);
  transition: all 0.5s ease;
  width: 100%;
}
.main-form-field .input-active {
  transform: scaleY(1);
}
.main-form-container-links {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  padding: 0 30px;
  width: 100%;
}
.main-form-container-links .main-form-link {
  color: rgb(255, 0, 255);
  font-family: "Poppins", sans-serif;
  font-size: 0.8em;
  letter-spacing: 0.5px;
  display: inline-block;
  text-decoration: none;
}
.main-form-container-links .main-form-link:hover {
  color: #ff66ff;
}
.main-form-btn-submit {
  background-color: rgb(255, 0, 255);
  border-radius: 10px;
  border: 1px solid #cc00cc;
  box-shadow: 0px 3px 5px rgb(179, 18, 179);
  cursor: pointer;
  font-size: 1.3em;
  margin-top: 50px;
  padding: 10px 20px;
  transition: transform 0.1s;
}
.main-form-btn-submit:active {
  box-shadow: 0px 1px 5px rgb(179, 18, 179);
  transform: translateY(3px);
}
.main-form-btn-submit:hover {
  background-color: #ff33ff;
}

/*# sourceMappingURL=style.css.map */
