
// COLORS
$primary-bg-color: #151320;
$second-bg-color: #333;

$primary-color: rgb(255, 0, 255);
$second-color: rgb(179, 18, 179);
$third-color: #333;

$gradient-purple: linear-gradient(to right, transparent, purple, rgb(255, 0, 255));


// FONTS
$font-family: 'Poppins', sans-serif;

$font-weight-bolder: 600;
$font-weight-lighter: 300;

$font-size-large: 2.5em;
$font-size-medium: 1.3em;
$font-size-small: 1em;
$font-size-tiny: .8em;


// SIZES
$width-container: 400px;
$height-container: 430px;


// BORDER
$border-radius-large: 10px;
$border-radius-medium: 8px;
$border-radius-small: 3px;
